<header class="p-3 w-full fixed top-0 z-50 bg-gradient-to-r from-primary to-black">
  <div class="text-white">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
      <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact: true}" class="flex item-center max-h-16 border-r-white border-r-2 pr-6 gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 m-auto">
          <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
        </svg>

        <h3 class="text-2xl font-bold uppercase">Dating App</h3>
        </a>
      <nav class="flex gap-3 my-2 uppercase text-lg text-white">
        @if(accountService.currentUser(); as user) {
          <a routerLink="/members" routerLinkActive="text-accent">Matches</a>
          <a routerLink="/lists" routerLinkActive="text-accent">Lists</a>
          <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
        }
      </nav>
      <div class="flex align-middle ml-auto gap-3">
  </div>
    @if(accountService.currentUser(); as user) {
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
          <img src="/user.png" alt="user avatar" class="size-12 rounded-box md:size-20 lg:size-24"
          >
          <span>{{ user.displayName.charAt(0).toUpperCase() + user.displayName.slice(1) }}</span>
        </div>
        <ul tabindex="0" class="dropdown-content dropdown-end menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li>
            <a>Edit Profile</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    } @else {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="flex item-center gap-3">
          <input [(ngModel)]="credentials.email"
                 name="email"
                 type="email"
                 class="input"
                 placeholder="Email">
          <input [(ngModel)]="credentials.password"
                 name="password"
                 type="password"
                 class="input"
                 placeholder="Password">
          <button class="btn" type="submit">Login</button>
        </form>
    }
    </div>
  </div>
</header>
